<div>
    <h3>Könyv hozzáadása</h3>
    <div class="form-group">
        <input class="form-control" ng-model="newBook.name" placeholder="Cím">
    </div>
    <div class="form-group">
        <input class="form-control" ng-model="newBook.isbn" placeholder="ISBN szám">
    </div>
    <button ng-click="addBook(newBook)" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Hozzáadás</button>
    <a class="btn btn-danger" href="/#!/books"><span class="glyphicon glyphicon-arrow-left"></span> Vissza</button></a>
</div>